.DS_Store obsidian/workspace.json
.obsidian/workspace.json
obsidian/workspace-mobile.json
.obsidian/workspace-mobile.json
출처: https://knowslog.tistory.com/entry/Obsidian-Github-연동 [Knowslog(지식저장소):티스토리]
